<% content_for :html_class do %>
  	landing
<% end %>

<% content_for :head do %>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9, user-scalable=no, target-densitydpi=device-dpi">
<% end %>

<div id="main_body_devices">
	<%= image_tag 'tablet.png', :id => 'tablet' %>
	<%= image_tag 'tv.png', :id => 'tv' %>
	<%= image_tag 'web.png', :id => 'web' %>
	<%= image_tag 'phone.png', :id => 'phone' %>
</div>
<div id="main_body_copy">
	<div class="detail">
		Publish beautiful, interactive<br />fitness experiences for your<br />followers in minutes for free. <span class="underline">Make<br />money for every subscriber.</span>
	</div>
	<div class="main">
		Build Your<br />Fitness Empire
	</div>
</div>
<a href="mailto:r@getclassy.co" class="rounded_button">Get Started</a>
