<div id="footer">
	<ul class="follow_us">
		<li id="instagram"><a rel="external" href="https://instagram.com/classy_workouts/">Instagram</a></li>
	</ul>
	<div id="copyright">680 Serra St., Stanford CA 94305<br /><%= Time.now.year %> Rahul Jaswa, Inc. All rights reserved </div>
</div>
