$footer-height: 150px;

* {
  	margin: 0;
}
html, body {
	height: 100%;
}
html {
	body {
		div#main_body {
			font-family: "Avenir";
			min-height: 100%;
			margin-bottom: -$footer-height;
			div#header {
				font-size: 14pt;
				margin: 15px;
				a#header_logo {
					img {
						height: 100px;
					}
				}
				ul#header_nav {
					list-style-type: none;
					float: right;
					li {
						display: inline-block;
						margin-right: 40px;
						a {
							text-decoration: none;
							color: #FFF;
						}
					}
					li a:hover, li.selected a {
						text-decoration: underline;
						color: #FFF;
					}
				}
			}
		}
		div#main_body:after {
			content: "";
			display: block;
		}
		div#footer, div#main_body:after {
			height: $footer-height;
		}
		div#footer {
			font-family: "Avenir";
			font-size: 12px;
			ul {
				li#instagram {
					a {
						text-indent: -9999px;
						background-image: image-url("instagram_icon.png");
						background-repeat: no-repeat;
						width: 100px;
						height: 60px;
						margin: 0 auto;
						display: block;
					}
				}
			}
			div#copyright {
				text-align: center;
			}
		}
	}
}